
<%-include("navbar.ejs")%>


    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">About Us</h4>
            <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active text-primary">About</li>
            </ol>    
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
<div class="container-fluid bg-light about pb-5">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item-content bg-white rounded p-5 h-100">
                    <h4 class="text-primary">About Our Company</h4>
                    <h1 class="display-4 mb-4"><%-about_company.about_heading%></h1>
                    <p><%-about_company.about_details%></p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i><%-about_company.about_point1%></p>
                    <p class="text-dark"><i class="fa fa-check text-primary me-3"></i><%-about_company.about_point2%></p>
                    <p class="text-dark mb-4"><i class="fa fa-check text-primary me-3"></i><%-about_company.about_point3%></p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="/about">More Information</a>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="bg-white rounded p-5 h-100">
                    <div class="row g-4 justify-content-center">
                        <div class="col-12">
                            <div class="rounded bg-light">
                                <img src="/uploads/<%-about_counter.about_counter_image%>" class="img-fluid rounded w-100" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up"><%-about_counter.total_insurance_policies%></span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Insurance Policies</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up"><%-about_counter.total_awards_won%></span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Awards WON</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up"><%-about_counter.total_skilled_agent%></span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Skilled Agents</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="counter-item bg-light rounded p-3 h-100">
                                <div class="counter-counting">
                                    <span class="text-primary fs-2 fw-bold" data-toggle="counter-up"><%-about_counter.total_team_members%></span>
                                    <span class="h1 fw-bold text-primary">+</span>
                                </div>
                                <h4 class="mb-0 text-dark">Team Members</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


   <!-- Feature Start -->
<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Features</h4>
            <h1 class="display-4 mb-4">Insurance Provide you a Better Future</h1>
        </div>
        <div class="row g-4">
            <% for(i of features) { %>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="feature-item p-4 pt-0">
                    <div class="p-4 mb-4">
                       <img src="/uploads/<%=i.feature_icon_image%>" width="130px" class="ms-3" alt="">
                    </div>
                    <h4 class="mb-4" ><%=i.feature_label%></h4>
                    <p class="mb-4"><%=i.feature_details%></p>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<!-- Feature End -->

 <!-- FAQs Start -->
<div class="container-fluid faq-section bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">
                    <div class="mb-5">
                        <h4 class="text-primary">Some Important FAQ's</h4>
                        <h1 class="display-4 mb-0">Common Frequently Asked Questions</h1>
                    </div>
                    <div class="accordion" id="accordionExample">

                        <% for(i of faq) { %>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading<%-i.faq_id%>">
                                <button class="accordion-button border-0" type="button" data-bs-toggle="collapse" data-bs-target="#id<%-i.faq_id%>" aria-expanded="true" aria-controls="<%-i.faq_id%>">
                                    <%-i.faq_question%>
                                </button>
                            </h2>
                            <div id="id<%-i.faq_id%>" class="accordion-collapse collapse active" aria-labelledby="heading<%-i.faq_id%>" data-bs-parent="#accordionExample">
                                <div class="accordion-body rounded">
                                    <%-i.faq_answer%>
                                </div>
                            </div>
                        </div>
                       <% } %>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.4s">
                <img src="/uploads/<%-faq_image.faq_img%>" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->



 <!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Team</h4>
            <h1 class="display-4 mb-4">Meet Our Expert Team Members</h1>
        </div>
        <div class="row g-4">

            <% for(i of team) { %>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-img">
                        <img src="/uploads/<%-i.team_image%>" class="img-fluid rounded-top w-100" alt="">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" target="_blank" href="<%-i.team_fb_link%>"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" target="_blank" href="<%-i.team_twitter_link%>"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-2" target="_blank" href="<%-i.team_linkedin_link%>"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-sm-square rounded-pill mb-0" target="_blank" href="<%-i.team_insta_link%>"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="team-title p-4">
                        <h4 class="mb-0"><%-i.team_name%></h4>
                        <p class="mb-0"><%-i.team_position%></p>
                    </div>
                </div>
            </div>
           <% } %>

        </div>
    </div>
</div>
<!-- Team End -->


    <%-include("footer.ejs")%>